@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-base: #fcfcfc;
    --clr-base-accent:rgb(243, 243, 243);
    --clr-base-default: white;
    --clr-base-text: #353232;

    --clr-pink-base: #f6d8f7;
    --clr-pink-light: rgb(255, 233, 242) ;
    --clr-pink-dark: rgb(194, 51, 125);

    --clr-purple-light: rgb(246, 229, 246);

    --clr-blue-base: #6182FF;
    --clr-blue-light: #F0F7FF;
    --clr-blue-dark: #4898de; /*347CCB*/
    --clr-blue-extradark: #090c21;

    --clr-grey-light: #f8f8f8;
    --clr-grey-base: rgb(218, 218, 218);
    --clr-grey-dark: rgb(114, 110, 110);

    --clr-peach-base: rgb(252, 239, 213);
    --clr-peach-dark: rgb(221, 123, 84);

    --clr-cream-base: #f5fff3;

    --clr-green-base: #d8e267;
    --clr-green-light: rgb(234, 248, 217);
    --clr-green-dark: rgb(60, 87, 26);
    
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --clr-base: #373535;
    --clr-base-text: #F9F8F8;
    --clr-base-accent: rgb(85, 83, 83);
    --clr-base-default: rgb(61, 61, 61);

    --clr-grey-light: rgb(63, 61, 61);
    --clr-grey-base: rgba(204, 202, 202, 0.671);
    --clr-grey-dark: rgb(207, 207, 207);

    --clr-peach-base: rgb(243, 88, 140);

    --clr-green-base: rgb(120, 172, 61);
    --clr-green-light: rgb(182, 224, 133);
  }
}*/


:root.dark {
  --clr-base: #1B1C22;
  --clr-base-accent: rgb(58, 56, 56);
  --clr-base-default: rgb(61, 61, 61);
  --clr-base-text: #F9F8F8;

  --clr-blue-base: #6182FF;
  --clr-blue-light: #e9f1fa1a;
  --clr-blue-dark: #4898de;
  --clr-blue-extradark: #A2B2F9;
  
  --clr-grey-light: rgba(63, 59, 59, 0.39);
  --clr-grey-base: rgba(204, 202, 202, 0.671);
  --clr-grey-dark: rgb(207, 207, 207);

  --clr-peach-base: rgb(243, 88, 140);

  --clr-green-base: rgb(120, 172, 61);
  --clr-green-light: rgb(182, 224, 133);

}

body {
  background-color: var(--clr-base);
  color: var(--clr-base-text);
}

svg {
  fill: var(--clr-base-text);
}

h1,h2,h3,h4,h5,h6 {
  font-weight:600;
  line-height:1;
}

a {
  cursor:pointer;
}

input {
  background-color:transparent;
  border: solid 1px var(--clr-base-accent);
}

input:focus {
  outline:none;
}

@media screen and (min-width: 960px) {
  h1 {font-size: 5rem;}
  h2 {font-size: 4.5rem;}
  h3 {font-size: 4rem;}
  h4 {font-size: 3.5rem;}
  h5 {font-size: 3rem;}
  h6 {font-size: 2.5rem;}
}
@media screen and (max-width: 760px) {
  h1 {font-size: 4rem;}
  h2 {font-size: 3.5rem;}
  h3 {font-size: 3rem;}
  h4 {font-size: 2.5rem;}
  h5 {font-size: 2rem;}
  h6 {font-size: 1.5rem;}
}
@media screen and (max-width: 560px) {
  h1 {font-size: 3rem;}
  h2 {font-size: 2.5rem;}
  h3 {font-size: 2rem;}
  h4 {font-size: 1.5rem;}
  h5 {font-size: .75rem;}
  h6 {font-size: .5rem;}
}


/* For IE, Edge and Firefox */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track {
  margin-top: 10px;
  background: var(--clr-base-accent);
}
::-webkit-scrollbar-thumb {
  background: var(--lightblue);
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece:end {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #aaa;
}