.button {
    padding:.6rem 1.2rem;
    background-color:var(--clr-blue-extradark);
    border-radius: 20px;
    color: var(--clr-base);
    white-space: nowrap;
    font-weight:600;
}

.outline {
    background-color: transparent;
    border:1px solid var(--clr-grey-base);
    color: var(--clr-grey-dark);
}