.button {
    padding:.6rem 1.2rem;
    background-color:var(--clr-blue-extradark);
    border-radius: 20px;
    color: var(--clr-base);
    white-space: nowrap;
    font-weight:600;
    fill: var(--clr-base);
}

.outline {
    background-color: var(--clr-grey-light);
    border:1px solid var(--clr-grey-light);
    color: var(--clr-grey-dark);
    fill:var(--clr-grey-dark);
}